body {
    background-color: grey;
}

.background {
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin: 20% 50%;
}

.red, .yellow, .green {
    width: 100px;
    height: 100px;
}

.yellow, .green {
    margin-top: 5px;
}

.red {
    background-color: red;
    border: 10px solid darkred;
}

.yellow {
    background-color: yellow;
    border: 10px solid orange;
}

.green {
    background-color: green;
    border: 10px solid darkgreen;
}